html {
    background-color: rgb(223, 142, 248);
    padding: 10px;
}

body{
    padding: 10px;
    margin: 0;
}
nav {
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLinks {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    list-style: none;
}

.navItem a {
    display: inline-block;
    padding: 10px;
}

.wrapper {
    margin-top: 10%;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  
}


.searchButton {
    display: flex;
    justify-content: center;
    border: 0;
    margin-block: 5px;
    padding-block: 6px;
   /*  box-shadow: 4px 4px 3px 1px rgba(0, 0, 255, .2); */
}

input {
    width: 300px;
    border-radius: 10px;
    border: 0;
    padding-block: 5px;
    box-shadow: 4px 4px 3px 1px rgba(0, 0, 255, .2);
}

button {
    border: 0;
    padding-block: 5px;
    box-shadow: 4px 4px 3px 1px rgba(0, 0, 255, .2);
}