* {
    background-color: rgb(223, 142, 248);
}
.wrapper {
    border: solid; /* border so I can see the actual containers */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gLogo {
    margin-top: 10%;
}

.searchBar {
    border-block: solid white 2px; /* border so I can see the container */
    display: flex;
    padding-block: 10px;
    padding-left: 10px;
    flex-direction: column;
}
input {
    background-color: white;
    border: 0;
    border-radius: 20px;
    padding-block: 10px;
    box-shadow: 4px 4px 3px 1px rgba(0, 0, 255, .2);
}

button {
    border: 0;
    padding-block: 6px;
    background-color: white;
    box-shadow: 4px 4px 3px 1px rgba(0, 0, 255, .2);
    margin-top: 10px;
    margin-left: 50px;
}